@import '../../../../../../assets/scss/variables';



button {
    // width: 100%; // Ensure it takes full width within its nz-col on small screens
    // You might want to add some margin-top if it's too close to the divider
    margin-top: 16px;
    border-radius: 0;

    font-weight: bold;
    text-transform: uppercase;

    @media (min-width: 992px) {

        // // For large devices and up (nzLg breakpoint)
        // // width: 10rem; // Let it take its natural width
        .action-button {
            width: 10rem;
        }
    }
}

// You can also adjust the form-container padding if needed for mobile
.form-container {
    padding: 16px; // default

    @media (min-width: 768px) {
        // Medium devices and up
        padding: 24px;
    }
}




:host ::ng-deep .avatar-uploader>.ant-upload {
    width: 200px;
    height: 200px;
}


:host ::ng-deep .ant-upload-list-picture-card-container {
    width: 200px;
    height: 200px;
    padding-bottom: 1rem;
}

:host ::ng-deep .ant-upload-list-picture-card .ant-upload-list-item {
    width: 200px;
    height: 200px;
}

img {
    width: 75px;
    height: 75px;
    border-radius: $border-radius;
}

:host ::ng-deep .ant-input-affix-wrapper {
    background-color: none;
}

.table-operations {
    display: flex;
    gap: 4px;
    padding: 12px 0px;

    .action-button {
        margin-left: auto;
        width: 160px;
        font-weight: bold;
        font-size: medium;
    }

    nz-input-group {
        width: 25%;
        background-color: white;
    }
}

button {
    border-radius: 0;
}

.action-buttons {
    display: flex;
    gap: 4px;
}