<section #trigger>

    @defer (on viewport(trigger)) {
    <app-slider [data]="bannerList()" />
    }
    <app-home-brand [data]="companyList()" />
    <app-category-card [data]="categoryList()" [showCount]="true" />
    <!-- <app-home-product [data]="productList()" /> -->

    <app-product-slider [title]="'Trending'" [data]=" productList()" />
    <app-product-slider [title]="title1()" [data]="category1()" />
    <app-product-slider [title]="title2()" [data]="category2()" />
    <app-product-slider [title]="title3()" [data]="category3()" />
    <app-product-slider [title]="title4()" [data]="category4()" />
    <app-product-slider [title]="title5()" [data]="category5()" />
    <app-product-slider [title]="title6()" [data]="category6()" />
    <app-product-slider [title]="title7()" [data]="category7()" />
    <app-product-slider [title]="title8()" [data]="category8()" />
</section>