<section>
    <div>
        <div class="table-operations">
            <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                <input [(ngModel)]="searchValue" type="text" nz-input placeholder="Search staff... " />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template> -->
            <!-- <button nz-button nzType="default" (click)="onSearch()">
        <span nz-icon nzType="search"></span>
        Search
      </button> -->
            <!-- @if (setList$ | async; as set) {
        } -->
            <!-- <button
        class="action-button"
        nzDanger
        nz-button
        nzType="primary"
        routerLinkActive
        (click)="onAdd()"
      >
        Add
      </button> -->
            <!-- <button class="action-button" nz-button nzType="primary" (click)="onAdd()">
                Add
            </button> -->
        </div>
    </div>
    @if (data$ | async; as table) {
    <nz-table #borderedTable nzBordered nzTitle="Order List" [nzData]="table" [nzFrontPagination]="false">
        <thead>
            <tr>
                <th>Sn.</th>
                <th>Customer Name</th>
                <th>Business Name</th>
                <th>Ordered By</th>
                <th>Qty.</th>
                <th>Order Date</th>

                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @for (
            data of borderedTable.data;
            track data.orderId;
            let i = $index
            ) {
            <tr>
                <td>{{ i + 1 }}</td>
                <td>
                    {{ data.customerName | titlecase }}
                </td>
                <td>
                    {{ data.businessName | titlecase }}
                </td>
                <td>
                    {{ data.orderByName | titlecase }}
                </td>
                <td>{{data.qty}}</td>
                <td>{{data.orderDate}}</td>
                <td>
                    <div class="action-buttons">
                        <button title="View more" nz-tooltip nz-button (click)="onViewDetails(data.customerId,data.orderById)">
                            <span nz-icon nzType="eye"></span>
                        </button>

                    </div>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
    }
</section>