@import '../../../../../assets/scss/_variables.scss';

:host ::ng-deep .ant-input-affix-wrapper {
    background-color: none;
}

.table-operations {
    display: flex;
    gap: 4px;
    padding: 12px 0px;

    .action-button {
        margin-left: auto;
        width: 160px;
        font-weight: bold;
        font-size: medium;
    }

    nz-input-group {
        width: 25%;
        background-color: white;
    }
}

button {
    border-radius: 0;
}

.action-buttons {
    display: flex;
    gap: 4px;
}

img {
    height: 75px;
    width: 75px;
    object-fit: cover;
}