<!-- begin::topbar -->
<header class="header-top">
  <div class="section section-left">
    <div class="content">
      <nz-icon nzType="phone" class="icon-phone"></nz-icon>
      <a title="Call Now" href="tel:+977{{ phoneNo }}">{{ phoneNo }}</a>
    </div>
  </div>

  <div class="section section-center">
    <div class="content">
      <!-- Hidden on mobile -->
      <!-- Optional: email, login, etc. -->
      <!-- <div class="left-content">
        <nz-icon nzType="mail"></nz-icon>
        <a title="Send mail" href="mailto:email">{{ email }}</a>
      </div> -->
      <!-- <div class="right-content">
        <a title="Login" routerLink="/auth/login">Login</a>
      </div> -->
    </div>
  </div>

  <div class="section section-right">
    <div class="content">
      <a href="{{ facebookUrl }}" target="_blank" aria-label="Facebook Page" rel="noopener noreferrer"
        title="Visit Facebook Page">
        <nz-icon nzType="facebook" nzTheme="fill" class="icon-facebook"></nz-icon>
      </a>
      <!-- <span class="version">v1.0.t1</span> -->
    </div>
  </div>
</header>