<section>
    <div>
        <div class="table-operations">
            <!-- <nz-input-group [nzSuffix]="suffixIconSearch">
                <input [(ngModel)]="searchValue" type="text" nz-input placeholder="Search staff... " />
            </nz-input-group>
            <ng-template #suffixIconSearch>
                <span nz-icon nzType="search"></span>
            </ng-template> -->
            <!-- <button nz-button nzType="default" (click)="onSearch()">
        <span nz-icon nzType="search"></span>
        Search
      </button> -->
            <!-- @if (setList$ | async; as set) {
        } -->
            <!-- <button
        class="action-button"
        nzDanger
        nz-button
        nzType="primary"
        routerLinkActive
        (click)="onAdd()"
      >
        Add
      </button> -->
            <button class="action-button" nz-button nzType="primary" (click)="onAdd()">
                Add
            </button>
        </div>
    </div>
    @if (data$ | async; as table) {
    <nz-table #borderedTable nzBordered nzTitle="Category List" [nzData]="table" [nzFrontPagination]="false"
        [nzScroll]="{ x: '1100px' }">
        <thead>
            <tr>
                <th nzWidth="5%">Sn.</th>
                <th nzWidth="15%">Photo</th>
                <th nzWidth="25%">Category</th>
                <th nzWidth="10%">Is Active</th>

                <th nzWidth="10%">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (
            data of borderedTable.data;
            track data.categoryId;
            let i = $index
            ) {
            <tr>
                <td>{{ i + 1 }}</td>
                <td><img nz-image [nzSrc]="data.path" alt="Category pic" height="50" width="50"></td>
                <td>
                    {{ data.name | titlecase }}
                </td>
                <td>
                    <nz-tag [nzColor]="(data.hasActive) ? 'green' : 'red'">
                        {{ data.hasActive? 'Active' : 'Inactive' }}
                    </nz-tag>
                </td>
                <td>
                    <div class="action-buttons">
                        <button nzTooltipTitle="Edit" nz-tooltip nz-button (click)="onEdit(data.categoryId)">
                            <span nz-icon nzType="form"></span>
                        </button>

                    </div>
                </td>
            </tr>
            }
        </tbody>
    </nz-table>
    }
</section>