@import 'ng-zorro-antd/ng-zorro-antd.min.css';
@import 'assets/scss/variables';


/* You can add global styles to this file, and also import other style files */
// Target only our custom disabled input

.nz-input[disabled],
input[disabled] {
    background-color: lighten($color: $blue, $amount: 35%); // light gray
    // border: 1px $blue; // dashed border to show it's readonly
    font-weight: 500; // slightly bold so it's readable
    cursor: not-allowed;
    transition: all 0.2s ease;

    // &:hover {
    //     background-color: #f5f5f5;
    // }

    // &::placeholder {
    //     color: #bfbfbf;
    //     font-style: italic;
    // }
}

// Responsive adjustments (if inside smaller screen form layout)
@media (max-width: 768px) {

    .nz-input[disabled],
    input[disabled] {
        font-size: 14px;
        padding: 10px;
    }
}