<!-- PAGE HEADER -->
@if(data().length>0){

<div class="page-container">
    <app-page-header-section [totalItems]="data().length" [theme]="'light'" [description] [subtitle]="title()"
        [title]="title()" [description]="description()" />
    <!-- <div class="section-header">

        <div class="header-content">
            <h2 class="section-title"> {{title()}}</h2>
            <p class="section-subtitle">
                {{ (data().length + ' products available') }}
            </p>
        </div>
    </div> -->

    <!-- CONTENT -->
    @if (!data().length) {
    <!-- SKELETON LOADER -->
    <div class="skeleton-grid">
        <div nz-row [nzGutter]="16">
            <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" *ngFor="let item of [1, 2, 3]">
                <div class="square-rectangle-card">
                    <div class="square-image">
                        <nz-card [nzHoverable]="false">
                            <nz-skeleton [nzActive]="true">
                                <nz-skeleton-element nzType="image"></nz-skeleton-element>
                            </nz-skeleton>
                        </nz-card>
                    </div>
                    <div class="square-text"></div>
                </div>
            </div>
        </div>
    </div>
    } @else {
    <!-- PRODUCT SLIDER -->
    <div class="slider-container">
        <button class="arrow left" (click)="scrollLeft()" aria-label="Previous products">
            <span nz-icon nzType="left" nzTheme="outline"></span>
        </button>

        <div #productSlider class="product-slider">
            @for (product of data(); track product.categoryId) {
            <app-product-page [data]="product" />
            }
        </div>

        <button class="arrow right" (click)="scrollRight()" aria-label="Next products">
            <span nz-icon nzType="right" nzTheme="outline"></span>
        </button>
    </div>
    }
</div>
}