.secondary-link-container {
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
  buttom .btn {
    font-weight: bold;
    text-decoration: uppercase;
  }
  .btn:hover {
    color: #fbbe06;
  }
}
